* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  padding: 2rem;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app-title {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.media-container {
  max-width: 750px;
  height: 500px;
  background: #e9e9e9;
  width: 100%;
}

.media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-content {
  max-width: 450px;
  color: #000;
  margin: 2rem auto;
}

.media-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.media-content p {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Loading Indicator Styling - Gotten from Loading.io */
.lds-css {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 94px;
  top: 45px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1.6s infinite;
  animation: lds-spinner linear 1.6s infinite;
  background: #000000;
  width: 12px;
  height: 30px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 55px;
  transform-origin: 6px 55px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.44s;
  animation-delay: -1.44s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-animation-delay: -1.28s;
  animation-delay: -1.28s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-animation-delay: -1.12s;
  animation-delay: -1.12s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
  -webkit-animation-delay: -0.96s;
  animation-delay: -0.96s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}